@charset "utf-8";

html {
	position: static;
}
.both{
	clear:both;
}
samp{
	display: none!important;
	height: 0px!important;
	width: 0px!important;
}
samp.mpFields {
    color: #fff;
    font-size: 0px;
    background-color: #fff;
    background-image: -moz-linear-gradient(center bottom , #464646, #373737 5px);
    text-align: center;
    cursor: pointer;
	display: none;
	height: 0px;
	width: 0px;
}
body {
	font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	line-height: 141%;
	color: #383838;
	font-size: 15px;
	position: absolute;
	height: auto;
	width: 100%;
	top: 0px;
	word-wrap: break-word;
}
img{
	display: block;
	margin: 0px;
	padding: 0px;
	height: auto;
	max-width: 100%;
}
h1,h2,p,ul,dl,ol{
	margin-top: 1.4%;
	margin-bottom: 1.6%;
	font-weight: normal;
}
a:hover{
	color: #0099FF;
}
.serif{
	font-family:Times New Roman , "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", Hiragino Mincho ProN , "MSP明朝","MS PMincho","MS 明朝",serif;
}
.bold{
	font-weight: bold;
}
.color1{
	color: #7DB252;/*緑*/
}
.color2{
	color: #EF683E;/*オレンジ濃いめ*/
}
.color3{
	color: #F56800;/*オレンジ*/
}
.color4{
	color: #D63706;/*赤オレンジ*/
}
.color5{
	color: #FF6600;/*緑*/
}
.gray{
	background: #F3F3F3;/*背景グレー*/
}
.green{
	background: #F3FAEB;/*背景うす緑*/
}
.pink{
	background: #fff6f6;/*背景うすピンク*/
}
.container{
	margin: 0px;
	padding: 2.5%;
	clear: both;
	float: none;
	width: 95%;
}
.wrap{
	width: 100%;
	width: 1322px;
	margin: 0px auto;
}
.float-box{
	overflow: hidden;
	position: relative;
}


/*-----------------------------------------------------------------------------------------------*/


body {
	margin-top: 106px;
}
header{
	overflow: hidden;
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	background: #FFFFFF;
	z-index: 900;
	-webkit-box-shadow: 0px 0px 2px #CFD3CC;
	-moz-box-shadow: 0px 0px 2px #CFD3CC;
	box-shadow: 0px 0px 2px #CFD3CC;
}
header #logo{
	float: left;
	width: 392px;
	margin: 24px 0px 0px 18px;
}
header #logo a{
	display: block;
}
header nav#contact{
	float: right;
	width: 800px;
}
header nav#contact ul{
	margin: 0px;
	padding: 0px;
}
header nav#contact ul li{
	float: right;
	height: 106px;
	width: auto;
}
header nav#contact ul li a{
	display: block;
	height: 106px;
}
header nav#contact ul li img{
	height: 100%;
}
header nav#contact ul li#lets-from{
	margin-left: 1px;
}

header nav#contact ul li#call{
	background: #6AAA37;
	position: relative;
	width: 84px;
}
header nav#contact ul li#call img{
	display: block;
	position: absolute;
	height: 30px;
	width: 30px;
	left: 50%;
	top: 50%;
	margin-top: -15px;
	margin-left: -15px;
}

#navi{
    padding-top: 4px;
    padding-bottom: 4px;
}
#navi nav{
	max-width: 1322px;
	margin: 0px auto;
	display: block;
}
#navi p#sp-menu{
	background: #6aaa37;
	margin: 0px;
	padding: 10px 0px;
}
#navi #sp-menu a{
	display: block;
	height: 26px;
	padding: 0px;
	width: 102px;
	margin-right: auto;
	margin-left: auto;
}
#navi #sp-menu a img{
	height: 100%;
}
#navi nav ul{
	padding: 0%;
	border-right: 1px solid #CCCCCC;
}
#navi nav ul li{
	float: left;
	width: 14.142857%;
	border-left: 1px solid #CCCCCC;
}
#navi nav ul li a{
	color: #333333;
	display: block;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 5px;
}

#navi nav ul li a span{
	display: block;
	margin: 0px auto 10px;
	width: 30px;
}

#navi nav a { transition: all .3s ease; }
#navi nav a:hover { opacity: 0.5; }

#main h1{
	font-size: 180%;
	margin-bottom: 3%;
	line-height: 120%;
}
#main h2{
	font-size: 160%;
	margin-bottom: 2%;
	line-height: 120%;
}
#main .h2{
	font-size: 160%;
	margin-bottom: 2%;
	line-height: 120%;
	font-weight: normal;
}

#main .center{
	text-align: center;
}

footer #footer{
	padding-top: 3%;
	padding-bottom: 3%;
}
footer #footer #address{
	float: left;
	width: 38%;
	padding-right: 3.7%;
	border-right: 1px solid #CCCCCC;
}
footer #footer #address .sitename{
    font-size: 180%;
    font-weight: 600;
	margin-bottom: 4%;
}
footer #footer #address dl{
	margin-bottom: 2%;
}
footer #footer #address dl dt{
	font-weight: bold;
}

footer #footer #address nav ul{
	margin-bottom: 3%;
}
footer #footer #address nav ul li{
	margin-right: 2%;
	float: left;
	width: 30%;
}
footer #footer #address nav ul li a{
	font-size: 90%;
	color: #FFFFFF;
	padding: 2%;
	text-align: center;
	background: #F5A473;
	display: block;
}
footer #footer #address #appearance{
	margin-top: 5%;
}

footer #footer #greeting{
	float: left;
	width: 55%;
	border-left: 1px solid #CCCCCC;
	padding-left: 3%;
	margin-left: -1px;
}

footer #copy{
	font-size: 80%;
	color: #FFFFFF;
	background: #6AAA37;
	text-align: right;
	padding-top: 12px;
	padding-bottom: 12px;
}

#gotop{
	position: fixed;
	height: 50px;
	width: 50px;
	right: 20px;
	bottom: 20px;
}
#gotop a{
	display: block;
}

.sp{
	display: none;
}
.pc{
	display:block;
}

@media (max-width: 1024px) {
body {
    margin-top: 74px;
}
.wrap{
	width: 100%;
	margin: 0px;
}

header {
    width: 100%;
}
header #logo {
    margin-top: 18px;
	margin-bottom: 0px;
    width: 25%;
}
header nav#contact {
    width: 71%;
}
header nav#contact ul li {
    height: 74px;
}
header nav#contact ul li a {
    height: 74px;
}
#navi nav ul li a {
	font-size: 88%;
}

footer #footer {
	padding: 3% 2.5%;
	font-size: 90%;
}
}
@media (max-width: 880px) {
header #logo {
    margin-top: 20px;
}
#navi nav ul li a {
	font-size: 80%;
}
footer #footer {
	font-size: 85%;
}
}
@media (max-width: 765px) {
.sp{
	display:block;
}
.pc{
	display: none;
}

body {
    margin-top: 50px;
}

header{
	min-width:319px;
}
header #logo {
    margin-top: 8px;
    width: 30%;
}
header nav#contact {
    width: 50%;
}
header nav#contact ul li {
    height: 50px;
}
header nav#contact ul li#call{
	width: 56px;
}
header nav#contact ul li#call img {
    height: 22px;
    width: 22px;
    margin-top: -11px;
    margin-left: -11px;
}
header nav#contact ul li a {
    height: 50px;
}
#navi{
    padding-top: 0px;
    padding-bottom: 0px;
}
#navi nav ul li a {
	font-size: 85%;
}

#navi nav ul{
	padding: 0%;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
    margin-top: 0%;
	display: none;
}
#navi nav ul li{
	float: left;
	width: 33.142857%;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
}
#navi nav ul li#close{
	border-right: 1px solid #CCCCCC;
}
#navi nav ul li#kara{
	margin-right:-1px;
}


footer #footer {
	padding: 3% 2.5%;
	font-size: 90%;
	font-size: 80%;
}
footer #footer #address {
    float: none;
    width: 100%;
    padding-right: 0%;
    border-right: 1px none #CCCCCC;
}
footer #footer #greeting {
    float: none;
    width: 100%;
    border-left: 1px none #CCCCCC;
    padding-left: 0%;
    margin-left: 0px;
    margin-top: 20px;
}
footer #copy {
	font-size: 68%;
	text-align:center;
}

}
@media (max-width: 665px) {
header #logo {
    margin-top: 8px;
    width: 35%;
}
}
@media (max-width: 565px) {
header #logo {
    margin-top: 8px;
    width: 40%;
}
#navi nav ul li{
	width: 33.1%;
}
}
@media (max-width: 465px) {
header #logo {
    margin-top: 8px;
    width: 45%;
    margin-left: 13px;
}
#navi nav ul li{
	width: 33.05%;
}
}
@media (max-width: 400px) {

header #logo {
    margin-top: 10px;
    width: 53%;
}
header nav#contact {
    width: 40%;
}
#navi nav ul li{
	width: 33%;
}
footer #links ul li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
	max-width:80px;
}
}

#main .container .wrap > p {
        margin-bottom: 15px;
}

#page-top {
    position: fixed;
    bottom: 20px;
    right:20px;
    font-size: 100%;
	z-index:999;
	margin: 0!important;
}
#page-top a {
    background: #6aaa37;
    text-decoration: none;
    color: #fff;
    width: 50px;
	height: 50px;
    border-radius: 50%;
    display: flex;
	justify-content: center;
	align-items: center;
    transition: all .3s ease;
}

@media screen and (min-width:1201px){
	#page-top a:hover { text-decoration: none; background: #92c26d; }	
}

.red { color: #cc0000; }

.bt01 {
	font-size: 90%;
    color: #FFFFFF;
    padding:5px 2%;
    text-align: center;
    background: #F5A473;
    display: inline-block;
	transition: all .3s ease;
}
.bt01:hover { color: #fff; opacity: 0.5;}

